
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img src="./assets/logo.png" alt="" class="m-1">
        <span class="navbar-brand mb-0 h1"> <a class="navbar-brand" [routerLink]="['/']">Omnisalud Cartagena</a> </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/list']">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
                </li>
            
            </ul>
            
        </div>
    </div>
</nav>